html {
  font-size: 16px;
}

@media (max-width: 900px) {
  html { font-size: 17px; }
}
@media (max-width: 400px) {
  html { font-size: 14px; }
}

body {
  text-align: center;
}

a:visited {
  color: #909;
}

header {
  background: #FC5000;
  border-bottom: 1px solid #fff;
  color: #fff;
  outline: 2px solid #fcce00;
  padding: .2rem 0;
  text-align: center;
}

section {
  margin: 0 auto;
  max-width: 35rem;
}

footer {
  font-size: .9rem;
  text-align: center;
}

.total {
  background: #fff;
  text-align: left;
}

.total > p {
  font-weight: bold;
  padding: 0 .8rem;
}

.menu {
  text-align: left;
}

.menu dt {
  padding: 0 0 .2rem .8rem;
}

.menu dl > dd {
  display: inline-block;
  padding: 0;
  -webkit-margin-start: 0;
}

.menu dl > dt {
  display: block;
}

.menu dd + dt {
  margin-top: 2rem;
}

.menu dd > a {
  color: #FC5000;
  cursor: pointer;
  display: inline-block;
  padding: .8rem;
  text-decoration: underline;
  width: 9rem;
}

.menu dd > a:hover {
  background: #FC5000;
  color: #fcce00;
}
