html {
  font-size: 16px;
}

@media (max-width: 900px) {
  html { font-size: 17px; }
}
@media (max-width: 400px) {
  html { font-size: 14px; }
}

body {
  text-align: center;
}

a:visited {
  color: #909;
}

header {
  background: #FC5000;
  border-bottom: 1px solid #fff;
  color: #fff;
  outline: 2px solid #fcce00;
  padding: .2rem 0;
  text-align: center;
}

section {
  margin: 0 .5rem;
  text-align: left;
}

footer {
  font-size: .9rem;
  text-align: center;
}

.menu ul {
  display: block;
  list-style-type: none;
  margin: 1rem 1rem 1rem 0;
  overflow: hidden;
  -webkit-padding-start: 0;
}

.menu ul > li {
  float: left;
  padding: 0;
}

li > a {
  color: #FC5000;
  cursor: pointer;
  display: inline-block;
  padding: .8rem;
  text-decoration: underline;
  width: 140px;
}

li > a:hover {
  background: #FC5000;
  color: #fcce00;
}

.total p {
  font-weight: bold;
}
